@font-face {
  font-family: "iconfont"; /* Project id 3729136 */
  src: url('//at.alicdn.com/t/c/font_3729136_xrib9bx63io.woff2?t=1666808586516') format('woff2'),
       url('//at.alicdn.com/t/c/font_3729136_xrib9bx63io.woff?t=1666808586516') format('woff'),
       url('//at.alicdn.com/t/c/font_3729136_xrib9bx63io.ttf?t=1666808586516') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-04xialajiantou:before {
  content: "\e604";
}

.icon-xialajiantou:before {
  content: "\e67f";
}

.icon-movie1:before {
  content: "\e629";
}

.icon-movie-fill:before {
  content: "\e725";
}

.icon-movie:before {
  content: "\e701";
}

.icon-heartbeat:before {
  content: "\e732";
}

.icon-explore1:before {
  content: "\e71f";
}

.icon-explore2:before {
  content: "\eb41";
}

.icon-explore3:before {
  content: "\e668";
}

.icon-ic_explore_px:before {
  content: "\e64b";
}

.icon-explore:before {
  content: "\e68a";
}

.icon-vue:before {
  content: "\e69a";
}
